*{
    margin: 0px;
    padding: 0px;
}
header{
 
    background-color:#000000cf;
    position: sticky;
    top: 0px;
    z-index: 3;
    
    
}

@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

nav ul{
  
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  
  
  
}
 nav ul li{
    padding: 0,10px;
 }
#t{
 
    color: antiquewhite;

    font-family: 'Mouse Memoirs', sans-serif;
    font-size: large;
    margin-left: 3vw;
}
#i{
   
    color: antiquewhite;

    font-family: 'Mouse Memoirs', sans-serif;
    font-size: large;
    margin-left: 3vw ;
}


nav ul img:hover{
    border: .5vw solid white;
}
#q{
    max-height: 45px;
    margin-top: 5px ;
    margin-bottom: 5px ;
}
nav ul li a{
    text-decoration: none;
    color: antiquewhite;


    font-family: 'Mouse Memoirs', sans-serif;
font-size: large;
}
nav ul li a:hover{
    font-weight: bolder;
}
#k{
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: line-through;
    font-size: 2vw;
    margin-left: 12vw;
  
}


footer{
   
    background-color:#000000cf;
     padding-bottom: 3vw;
   
}
.uu{
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: antiquewhite;
    padding-top: 20px;

}
.up{
    display: inline-block;
    position: relative;
    top:2vh;
    max-width:30vw;
    left: 75vw;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}
.ram{
position: relative;
 max-width: 35vw;
left: 72vw;
color: antiquewhite;
top:3vh
}
.op{
    
    position: relative;
    max-width: 30vw;
    left: 76vw;
    top: 3vh;
    
}
.co{
    display: flex;
    flex-wrap: wrap;
    margin: 2px auto;
    justify-content: center;
    align-content: center;
    
  
}
.rr:hover { 
     border: 5px solid black;
}

.rr{
    margin-right: 10px;
}

.p{
    position: relative;
    
    left: 12.5vw;
    background-color: azure;
}
.y{
    display: flex;
  
   flex-wrap: wrap;
    margin: 20px auto ;
    justify-content: center;
    align-content: center;
}
.w{
    box-sizing: border-box;
   width: 45vw;
    height: 55vh;
    min-height: 306px;
    min-width: 385px;
    background-image: url('poeyt.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: large;
    font-weight: 500;
    text-align: center;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
  
}
.rw{
    box-sizing: border-box;
    width:45vw;
    height: 55vh;
    min-height: 306px;
    min-width: 385px;
    background-image: url('o.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10px;
    color: beige;
    font-family: 'Courier New', Courier, monospace;
}
#rukj{
    position: relative;
    left: 10vh;
    top: 3vw;
}
#li{
    position: relative;
    left: 7vh;
    top:1vh;

}
.container{
    display: flex;
     justify-content: space-between;
     align-content: center;
    flex-wrap: wrap;
    margin: 1vw 3vw 0vw 4vw;
}
#x{
    position: relative;
    left: 5vw;
    top: 5vh;
}
.z{
    position: relative;
   top: 8vh;
   left: 1.5vw;
}
.xl{
    box-sizing: border-box;
    
   width: auto;
   height: auto;
      
    background-color: whitesmoke;
    padding: 0px 2vw;
    border-radius: 8px;
    

}

#d{
    position: relative;
    bottom: 1.5vh;
}
#d:hover{
    border: 3px solid whitesmoke;
}
.c{
    height: auto;
    width: auto;
    color: beige;
    
    

}
.xs{
    margin: 0vw,3vw;
}

